
<div id="connectionsDiv" class="connectionsDiv">
  <center>
  @searchBarView()
  </center>
  <br>
  <div id="followingMeList" class="followingMeList">
    <center><h3>Who follow me (<span id="followingMeListNumber">1000</span>):</h3></center>
    @friendUserProfile()
    @friendUserProfile()
    @friendUserProfile()
    @friendUserProfile()
    @friendUserProfile()
    @friendUserProfile()
    @friendUserProfile()
    @friendUserProfile()
    @friendUserProfile()
    @friendUserProfile()
    @friendUserProfile()
  </div>
  <div id="iFollowList" class="iFollowList">
    <center><h3>I follow (<span id="iFollowListNumber">1000</span>):</h3></center>
    @friendUserProfile()
    @friendUserProfile()
    @friendUserProfile()
    @friendUserProfile()
    @friendUserProfile()
    @friendUserProfile()
    @friendUserProfile()
    @friendUserProfile()
    @friendUserProfile()
    @friendUserProfile()
    @friendUserProfile()
  </div>
</div>
<script src="@routes.Assets.versioned("js/followList.js")" crossorigin></script>
