@(error: String)

@loginPage {
<form id="forgotPasswordForm" method="post" action="sendForgottenPassword">
  <h3>Forgot Password</h3>
  <div class="errorTextDiv">@error</div>
   <input class="loginRegisterInputGlobal" placeholder="Email" name="email" type="email" required/><br>
  We will send you an email with your password <br>
  <input class="loginRegisterInputGlobal" value="Request Email" name="forgotPasswordBtn" type="submit" />
  <br>
  <a href="/login" class="loginFormLinks">Log In</a><br>
  <a href="/register" class="loginFormLinks">Register</a>
</form>
}
