@(error: String)

@loginPage {
<form id="loginForm" method="post" action="validateLogIn">
  <h3>Log In</h3>
  <div class="errorTextDiv">@error</div>
  <input class="loginRegisterInputGlobal" placeholder="Email" name="email" type="email" required/><br>
   <input class="loginRegisterInputGlobal" placeholder="Password" name="password" type="password"  required/><br>
  <input class="loginRegisterInputGlobal" value="Log In" name="logInBtn" type="submit" />
  <br>
  <a href="/register" class="loginFormLinks">Register</a><br>
  <a href="/forgotPassword" class="loginFormLinks">Forgot Password</a>
</form>
}
