
<div id="postContainer" class="postContainer">
  <center>
  <h4 class="userFullName">Mohamed Mnete</h4>
  </center>
  <img id="imagePost" class="postMediaContent" src="@routes.Assets.versioned("images/example-image-post.jpg")" />
  <video id="videoPost" class="postMediaContent" controls><source src="@routes.Assets.versioned("video/example-video-post.mp4")" type="video/mp4"></video>
    <center>
  <audio id="audioPost" controls><source src="@routes.Assets.versioned("audio/example-audio-post.mp3")" type="audio/mpeg"></audio>
  </center>
  @postFooterView()
</div>
</br>
