<br>
<input class="searchBar" id="searchBar" type="text" placeholder="Search for user" autocomplete="autocomplete_off_hack_xfr4!k" name="Search"><br>
<div id="searchResultsDiv" class="searchResultsDiv">
  <span id="result1" class="resultSpan">Result #1</span><br>
  <hr>
  <span id="result1" class="resultSpan">Result #1</span><br>
  <hr>
  <span id="result1" class="resultSpan">Result #1</span><br>
  <hr>
  <span id="result1" class="resultSpan">Result #1</span><br>
  <hr>
  <span id="result1" class="resultSpan">Result #1</span><br>
  <hr>
  <span id="result1" class="resultSpan">Result #1</span><br>
  <hr>
  <span id="result1" class="resultSpan">Result #1</span><br>
  <hr>
  <span id="result1" class="resultSpan">Result #1</span><br>
  <hr>
  <span id="result1" class="resultSpan">Result #1</span><br>
</div>
<br>
