<!--
<br>
<input class="searchBar" id="userStorySearchBar" type="text" placeholder="Disover the stories of those you follow..." autocomplete="autocomplete_off_hack_xfr4!k" name="Search"><br>
<div id="postsSearchResultsDiv" class="searchResultsDiv">
  <span id="result1" class="resultSpan">Result #1</span><br>
  <hr>
  <span id="result1" class="resultSpan">Result #1</span><br>
  <hr>
  <span id="result1" class="resultSpan">Result #1</span><br>
  <hr>
  <span id="result1" class="resultSpan">Result #1</span><br>
  <hr>
  <span id="result1" class="resultSpan">Result #1</span><br>
  <hr>
  <span id="result1" class="resultSpan">Result #1</span><br>
  <hr>
  <span id="result1" class="resultSpan">Result #1</span><br>
  <hr>
  <span id="result1" class="resultSpan">Result #1</span><br>
  <hr>
  <span id="result1" class="resultSpan">Result #1</span><br>
</div>
<br>
-->
