<div id="settingsDiv" class="settingsDiv">
     <br>
     <br>
     <center>
        <h3>Settings</h3>
        <h4>Password Changer</h4>
        <span id="passwordChangeStatusSpan"></span>
      </center>
      <br>
        <input type="password" class="changePasswordInput" id="prevPassword" placeholder="Enter current password" />
        <input type="password" class="changePasswordInput" id="newPassword" placeholder="Enter new password" />
        <input type="password" class="changePasswordInput" id="confNewPassword" placeholder="Confirm new password" />
        <br>
        <button id="changePasswordBtn" class="changePasswordBtn">Change Password</button>
      <br>
     <button id="deleteAccountBtn" class="deleteAccountBtn">Delete Account</button>
     <button id="logoutBtn" class="logoutBtn">Log Out</button>
</div>
<script src="@routes.Assets.versioned("js/settings.js")" crossorigin></script>
